@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap");
:root {
  --blue5: #40a9ff;
  --blue6: #1890ff;
  --blue7: #096dd9;
  --white: #ffffff;
  --gray: #e5e5e5;
  --gray1: #d9d9d9;
  --gray2: #fafafa;
  --gray3: #f5f5f5;
  --gray6: #bfbfbf;
  --gray7: #8c8c8c;
  --gray9: #262626;
  --xl2: 40px;
  --xl: 32px;
  --lg: 24px;
  --md: 16px;
  --s: 14px;
  --zr: 0px;
}
body {
  padding: 0;
  margin: 0;
}
/*  height */
.H-srn {
  height: 100vh;
}
.H-xl2 {
  height: var(--xl2);
}
.H-xl {
  height: var(--xl);
}
/*  width */
.W-74 {
  width: 74px;
}
.W-98 {
  width: 98px;
}
.W-274 {
  width: 274px;
}
.W-320 {
  width: 320px;
}
.H-50-W-40 {
  height: 50vh;
  width: 40vw;
}
.H-W-13 {
  height: 13px;
  width: 13px;
}
.H-W-s {
  height: var(--s);
  width: var(--s);
}
.H-W-xl {
  height: var(--xl);
  width: var(--xl);
}
.H-W-full {
  height: 100%;
  width: 100%;
}
.W-full{
width: 100%;
}


/* fontfamily */
.ff-rbt {
  font-family: "Roboto", sans-serif;
}
/* FontSize */
.Fs-md {
  font-size: var(--md);
}
.Fs-s {
  font-size: var(--s);
}
/* margin */
.mt-s {
  margin-top: var(--s);
}
.mx-10{
  margin: 0px 10px 0px 10px;
}
/* padding */
.px-34-12 {
  padding-left: 34px;
  padding-right: 12px;
}
.px-lg-md {
  padding-left: var(--lg);
  padding-right: var(--md);
}
.p-5-16 {
  padding: 5px var(--md);
}
/* background */
.bgc-white {
  background-color: var(--white);
}
.bgc-gray {
  background-color: var(--gray);
}
.bgc-gray3 {
  background-color: var(--gray3);
}
.bgc-blue6 {
  background-color: var(--blue6);
}
/* border  */
.bd-n {
  border: none;
}
.bdrs-2 {
  border-radius: 2px;
}
.bd-1-s-gray1 {
  border: 1px solid var(--gray1);
}
.bd-1-d-gray1 {
  border: 1px dashed var(--gray1);
}
.bd-1-s-blue5 {
  border: 1px solid var(--blue5);
}
/* color */
.cr-white {
  color: var(--white);
}
.cr-blue5 {
  color: var(--blue5);
}
.cr-blue6 {
  color: var(--blue6);
}
/* display and position*/
.d-n {
  display: none;
}
.d-fc {
  display: flex;
  flex-direction: column;
}
.d-fr {
  display: flex;
  flex-direction: row;
}
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.top-13 {
  top: 13px;
}
.top-8 {
  top: 8px;
}
.top-4 {
  top: 4px;
}
.left-s {
  left: var(--s);
}
.left-18 {
  left: 18px;
}
/* other */
.op-\.5 {
  opacity: 0.5;
}
.cur-p {
  cursor: pointer;
}
::placeholder {
  color: var(--gray6);
}


/* hover effect */
.bd-1-s-blue5\:h:hover,
.bd-1-s-blue5\:h:focus {
  border: 1px solid var(--blue5);
  outline-color: var(--blue6);
}

.bd-1-d-blue5\:h:hover,
.bd-1-d-blue5\:h:focus {
  border: 1px dashed var(--blue5);
  outline-color: var(--blue6);
}

.bgc-blue5\:h:hover {
  background-color: var(--blue5);
}
.bgc-blue5\:h:focus {
  background-color: var(--blue7);
}
.bgc-gray2\:h:hover {
  background-color: var(--gray2);
}

.cr-blue5\:h:hover {
  color: var(--blue5);
}
.cr-gary2\:h:hover {
  color: var(--gray9);
}
.cr-blue5\:h:focus {
  color: var(--gray9);
}
.cr-blue5\:f:focus {
  color: var(--blue5);
}

/* disabled */
#submitBtn:disabled,
#submitBtn2:disabled,
#submitBtn3:disabled,
#iconSubmitBtn1:disabled,
#iconSubmitBtn2:disabled,
#iconSubmitBtn3:disabled{
  background-color: var(--gray2);
  color: var(--gray6);
}
#submitBtn4:disabled,
#submitBtn5:disabled,
#iconSubmitBtn4:disabled,
#iconSubmitBtn5:disabled {
  background-color: var(--white);
  color: var(--gray6);
  border: none;
}
#searchBtn1:disabled {
  background-color: var(--gray3);
  color: var(--gray9);
}


/* media */
@media (max-width: 48em) {
  .md\:H-60vh-W-90vw {
    height: 60vh;
    width: 90vw;
  }
  .md\:W-276 {
    width: 276px;
  }
}
